.navigation .navbar {
    background-color: #0089c2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

.app-name {
    color: #eaeaea;
    font-weight: bold;
    margin-left: -10px;
    font-size: 22px;
} 

.navigation .navbar .navbar-item {
    font-size: 1.3rem;
    color: #eaeaea;
    font-weight: 600;
}

#navigation-button {
    background-color: #eaeaea;
    height: 35px;
    margin-right: 20px;
    margin-left: 10px;
    color: #0089c2;
    border-radius: 13px;
}

.main-container {
    width: 100%;
    height: 91.3dvh;
    background-image: url("../images/top-view-office-stationery-with-notebook-pencil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    
}

.navbar-menu .navbar-end .navbar-item :hover {
    text-decoration: underline;
    background-color: inherit;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Optional: Adjust height as needed */
    text-align: center; /* Center-align text within the content */
}

.content .main-text .slogan {
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#eaeaea;
    text-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
    margin-top: -50px;
}

.content .main-text .short-about {
    margin-top: 30px;
    color:#4b545d;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.buttons #b {
    background-color:#0089c2;
    color:#eaeaea;
    font-weight: bold;
    width: 200px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    margin: 50px 20px;
    font-size: 17px;
}
