.dashboard-title-div {
    display: flex;
    flex-direction: row;
    background-color: #0272a1;
    height: 45px;
    align-items: center;
}

.dashboard-title {
    font-size: large;
    font-weight: bold;
    margin-left: 5vh;
    color: #eaeaea;
}

#currentDate {
    font-size: large;
    font-weight: bold;
    margin-right: 5vh;
    color: #eaeaea;
    margin-left: auto;
}

.order {
    display: flex;
    flex-direction: column;
}

.column-paragraf {
    margin-top: 2px;
    height: 40px;
    border-bottom: 2px solid #0272a1;
    border-top: 2px solid #0272a1;
    align-content: center;
    text-align: center;
    color: #0272a1;
    font-size: large;
    font-weight: bold;
}

.column {
    height: 100vh;
    overflow-y: auto;
    border-left: 1px solid #0272a1;
    border-right: 1px solid #0272a1;
}

#logout-dashboard{
    background-color: #0272a1;
    color: #eaeaea;
  }