.exams-title-div {
    display: flex;
    flex-direction: row;
    background-color: #0272a1;
    height: 45px;
    align-items: center;
}

.exams-title {
    font-size: large;
    font-weight: bold;
    margin-left: 5vh;
    color: #eaeaea;
}

.order {
    display: flex;
    flex-direction: column;
}

#add-exam {
    margin: 5vh;
    width: 15vh;
    background-color: #0272a1;
    color: #eaeaea;
}

#save-btn-exam {
    background-color: #0272a1;
    color: #eaeaea;  
}