.main-container2 {
    width: 100%;
    height: 91.3vh;
    background-image: linear-gradient(to top, #3fadfdb0, #08dbfa33, white); 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}

.content {
    margin-top: 20px;
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -20px;
}

.subcontent {
    margin-top: 60px;
}

.main-container2 .content .main-logo {
    margin: 0 auto; 
    margin-top: 50px;
    display: block; /*Ensuring the image is treated as a block-level element */
    width: 9.5vw;
}

.login-text {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}

.login-text #login {
    font-size: 2.3vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#0089c2;
    text-shadow: rgba(0, 0, 0, 0.30) 0px 3px 8px;
    font-weight: bold;
}

.card2 {
    width: 40%;
    height: 60%;
    align-items: center;
    margin: 0 auto;
    margin-top: 2.6vw;
    border-radius: 20px;
    background-color: #eaeaea8c;
}

.card2 .input{
    border-radius: 1vw;
    padding-left: 2.5em;
    margin-top: 1vw;
    border-color: #0089c2;
    color: #0089c2;
}

.card2 .control .button.is-success {
    width: 8vw;
    margin-top: 2vw;
    background-color: #0089c2;
    border-color: transparent;
    color: #fff;
    border-radius: 1vw;
}

.card2 .control .button.is-success:hover {
    background-color:#0089c2;
    text-decoration: underline;
}


#text {
    font-weight: 600;
    font-size: 1.3vw;
    color: #0089c2;
    margin-right: 20px;
}

/* Media queries for smaller screen sizes */
@media screen and (max-width: 768px) {
    .login-text #login {
        font-size: 4vw; 
    }

    .card2 {
        width: 90%; 
        height: 40%; 
        margin-top: 5vw; 
    }

    .card2 .input {
        border-radius: 2vw; 
        padding-left: 4vw; 
        margin-top: 3vw; 
    }

    .card2 .control .button.is-success {
        width: 50vw; 
        margin-top: 5vw; 
        border-radius: 2vw; 
    }
}