.notes-title-div {
    display: flex;
    flex-direction: row;
    background-color: #0272a1;
    height: 45px;
    align-items: center;
}

.notes-title {
    font-size: large;
    font-weight: bold;
    margin-left: 5vh;
    color: #eaeaea;
}

#note-container {
    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 5vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;

}

.order {
    display: flex;
    flex-direction: column;
}

#add-note {
    margin: 5vh;
    width: 15vh;
    background-color: #0272a1;
    color: #eaeaea;
}

#save-btn-note {
    background-color: #0272a1;
    color: #eaeaea;  
}
