.main-container1 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, #3fadfdb0, #08dbfa33, white); 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}

.main-container1 .main-text .title {
    color: #0089c2;
    font-size: 2.7vw;
    font-weight: bolder;
    align-items: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 3vw;
    text-shadow: rgba(0, 0, 0, 0.30) 0px 3px 8px;
}
