.navbar4 {
    border-bottom: 2px solid #0272a1;
}

.tasks-title-div {
    display: flex;
    flex-direction: row;
    background-color: #0272a1;
    height: 45px;
    align-items: center;
}

.tasks-title {
    font-size: large;
    font-weight: bold;
    margin-left: 5vh;
    color: #eaeaea;
}

.order2 {
    display: flex;
    flex-direction: column;
}

#task-container {
    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 5vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;

}

#add-task {
    margin: 5vh;
    width: 15vh;
    background-color: #0272a1;
    color: #eaeaea;
}

#save-btn-task {
    background-color: #0272a1;
    color: #eaeaea;  
}


#logout-tasks{
    background-color: #0272a1;
    color: #eaeaea;
  }
  