.profile-title-div {
    display: flex;
    flex-direction: row;
    background-color: #0272a1;
    height: 45px;
    align-items: center;
}

.profile-title {
    font-size: large;
    font-weight: bold;
    margin-left: 5vh;
    color: #eaeaea;
}

.order {
    display: flex;
    flex-direction: column;
}

.name {
    color:#0089c2;
    font-weight: bold;
    justify-content: center;
    font-size: 1.05vw;
    margin-top: 1vw;
} 

.content {
    display: flex;
    flex-direction: row;
    align-items:first baseline;
}

.content .title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#0089c2;
    text-shadow: rgba(0, 0, 0, 0.30) 0px 3px 8px;
    font-weight: bold;
    margin: 2vw;
    font-size: 2.1vw;
}

#add {
    margin-left: 2vw;
    margin-top: 10px;
    width: 8vw;
    background-color:#0089c2;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 3px 8px;
    color:#eaeaea;
    font-weight: 500;
    font-size: 1.1vw;
}

.two-boxes {
    display: flex;
    flex-direction: row;
}

.content2 p {
    margin: 2vw;
    font-size: 1.5vw;
}

